*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --spacing-regular: 8px;
  --spacing-medium: 16px;
  --font-small: 0.5rem;
  --font-regular: 1rem;
  --font-large: 2rem;
  --font-xl: 4rem;
  --font-semibold: 600;
  --body-background: hsl(0, 0%, 84%);
  --font-color: hsl(30 124% 53% / 1);
  --hello-forecast-color: hsl(-5 140% 17% / 1);
  --hello-forecast-shadow: 2px 5px 12px 4px hsl(240, 49%, 50%);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: var(--spacing-regular) auto;
  background: var(--body-background);
}

h1,
h2 {
  margin: 0;
}
p {
  margin: var(--spacing-medium);
}

/* mobile first approach */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "hello hello"
    "search search"
    "current current"
    "hourly hourly"
    "fiveday fiveday"
    "feelslike humidity";
  gap: var(--spacing-regular);
  background: url(https://images.unsplash.com/photo-1508802349592-f1ea2a5e759f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 83%;
  color: var(--font-color);
}
/* .container #background-image{
  position: fixed;
  max-width: 800px;
  opacity: 70%;
} */

.container,
.container > article {
  border: 1px solid;
  padding: var(--spacing-regular);
  border-radius: var(--spacing-regular);
}

#hello-forecast {
  grid-area: hello;
  color: var(--hello-forecast-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: var(--font-semibold);
  text-align: center;
  padding: var(--spacing-regular);
  font-size: var(--font-xl);
  text-shadow: var(--hello-forecast-shadow);
}

#search {
  grid-area: search;
  font-size: var(--font-large);
  border-radius: var(--font-regular);
  padding: var(--spacing-medium);
  background-color: var(--body-background);
  opacity: 60%;

  padding: var(--spacing-regular);
}

/* styles related to current forecast */
#current-forecast {
  grid-area: current;
  text-align: center;
}
#current-forecast .temp {
  font-size: var(--font-xl);
}
#current-forecast .description {
  text-transform: capitalize;
}
#current-forecast .description,
#current-forecast .min-max-temp {
  font-size: var(--font-regular);
  font-weight: var(--font-semibold);
}

/* styles related to hourly forecast */
#hourly-forecast {
  grid-area: hourly;
  text-align: center;
}
#hourly-forecast .hourly-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-flow: column;

  grid-auto-columns: minmax(100px, 1fr);
  overflow-x: auto;
  gap: var(--spacing-medium);
}
#hourly-forecast .hourly-container .time {
}
#hourly-forecast .hourly-container .icon {
  height: 100px;
  width: 100px;
  object-fit: contain;
}
#hourly-forecast .hourly-container .hourly-temp {
  font-size: var(--font-regular);
  font-weight: var(--font-semibold);
}
#five-day-forecast {
  grid-area: fiveday;
  text-align: center;
}
#five-day-forecast .five-day-forecast-container {
  display: grid;
  grid-auto-flow: row;
}
#five-day-forecast .five-day-forecast-container .day-wise-forecast {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  gap: var(--spacing-regular);
  place-items: center;
}

.five-day-forecast-container .day-wise-forecast .min-temp,
.five-day-forecast-container .day-wise-forecast .max-temp {
  font-size: var(--font-regular);
  font-weight: var(--font-semibold);
}
.five-day-forecast-container .day-wise-forecast .min-temp {
  opacity: 60%;
}
.five-day-forecast-container .day-wise-forecast .icon {
  width: 75px;
  height: 75px;
}
.five-day-forecast-container .day-wise-forecast .day {
  text-transform: capitalize;
  justify-self: start;
}

.five-day-forecast-container .day-wise-forecast .max-temp {
  justify-self: end;
}

#feels-like {
  grid-area: feelslike;
  text-align: center;
}
#humidity {
  grid-area: humidity;
  text-align: center;
}

@media (width >= 650px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "hello hello hello hello"
      "search search search search"
      "current current current current "
      "hourly hourly fiveday fiveday"
      "feelslike humidity fiveday fiveday";
  }
}
